
/* ------------------ */
/* DEFINITION POLICES */
/* ------------------ */

/* Définition police Raleway en deux parties :
    1) Texte normal = Raleway Regular 400
    2) Texte en gras = Raleway Bold 700 */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/regular/raleway-regular-webfont.eot');
    src: url('../fonts/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/regular/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */

*{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}

/* Détermination des éléments en texte gras */
h1, h2, h3, .price, .button_text, #signup_link, #search, #valid_button_text{
    font-weight:bold;
}

a{
    text-decoration: none;
    color:black;
}

h1, h2{
    font-size:1.3em;
}


h3{
    font-size:0.8em;
}


/* ------ */
/* HEADER */
/* ------ */

#banner{
    padding-top: 5px;
    display:flex;
}

#logo_container{
    flex:1;
}

nav{
    display:flex;
}

#signup_link, #activites_link, #hebergements_link{
    padding-left:15px;
    padding-right:15px;
}

#signup_link, #hebergements_link{
    color:#0065FC;
}

/* Reduire l'espacement entre les deux phrases de description */
#site_description h1{
    margin-bottom: 8px;
}
#site_description p{
    margin-top: 8px;
}


/* Mise en forme de la barre de recherche */
#search_bar{
    display:flex;
    flex-direction: row;
}

#locate_icon{
    background-color:#F2F2F2 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px 13px 12px 13px;
}

#search{
    padding:10px;
    margin-right:0px;
    margin-left:0px;
    border:#F2F2F2 solid 1px;
    border-left: 0px;
    border-right:0px;
}

#valid_button{
    background-color:#0065FC; 
    color:#FFFFFF;
    border:0px;
}


/* Mise en forme des boutons filtres */
#filters{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#filters h2{
    margin-right:25px;
    font-size:1em;
}

#filter_buttons{
    display:flex;
    flex-direction: row;
}

#filter_buttons form{
    margin-right:20px;
    display: flex;
    flex-direction: row;
}

#filter_buttons button{
    background-color: #FFFFFF;
    height:40px;
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius: 180px;
    border:#d3d1d1 solid 1px;
}

#filter_buttons button:hover{
    /* Au survol des boutons, on decale vers le bas/gauche et on afficher une ombre 
        pour simuler  */
    position:relative;
    left:-4px;
    bottom:-4px;
    box-shadow: 4px -4px 5px #ebebeb;
}

#filter_buttons button:active{
    /* Au moment du click le bouton reprends sa position initiale et il n'y a plus d'ombre */
    position:relative;
    left:0px;
    bottom:0px;
    box-shadow: none;
}

.button_icon{
    color:#0065FC;
    font-size: 1.2em;
    background-color:#DEEBFF;
    border-radius: 180px;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left:-12px; 
    z-index: 1;
}

.button_text{
    padding-left: 7px;
    padding-right: 5px;

}

/* Mise en forme de la phrose d'information */
#info_nb_logements{
    display:flex;   
    flex-direction: row;
    align-items:center;
}
#circle_info{
    width:16px;
    height:16px;
    background-color:#FFFFFF;
    border:1px solid #F2F2F2;
    border-radius: 180px ;
    display:flex;
    justify-content: center;
    align-items:center;
}
#circle_info i{
    font-size:0.65em;
    color:#0065FC;
    background-color: #FFFFFF;
}
#info_text{
    font-size: 0.7em;
    margin-left:6px;
}



/* -------- */
/* SECTIONS */
/* -------- */

.card_container p{
    font-size: 0.7em;
}

.stars{
    display:flex;
    font-size: 0.6em;
}

.star_on{
    color:#0065FC;
}

.star_off{
    color:#cac9c9;
}

.card_container a{
    box-shadow: 0px 5px 5px #c4c3c3;
}

#hebergements_found, footer{
    background-color: #F2F2F2;
}

#hebergements .card_container{
    display:flex;
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    flex-flow: row wrap;
    /* align-content: space-between; */
    justify-content: space-around;
    align-items: flex-end;
}

#hebergements a{
    border-radius: 20px;
    background-color:#FFFFFF;
    /* mettre des padding car si border et background de la même couleur W3C n'aime pas */
    /* border:5px #FFFFFF solid; */
    padding: 5px;
 
    display:flex;
    flex-direction: column;
}

#activites a{
    border-radius: 20px;
    background-color:#FFFFFF;
    display:flex;
    margin: auto;
    flex-direction: column;
}


/* ------ */
/* FOOTER */
/* ------ */

footer{
    display:flex;
}

ul{
    list-style-type:none;
}




