
/* ------------------ */
/* DEFINITION POLICES */
/* ------------------ */

/* Définition police Raleway en deux parties :
    1) Texte normal = Raleway Regular 400
    2) Texte en gras = Raleway Bold 700 */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/regular/raleway-regular-webfont.eot');
    src: url('../fonts/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/regular/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */

*{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}

/* Détermination des éléments en texte gras */
h1, h2, h3, .prix, .texte_bouton, #lien_inscription, #search, #bouton_valid_texte{
    font-weight:bold;
}

a{
    text-decoration: none;
    color:black;
}

h1, h2{
    font-size:1.3em;
}

h3{
    font-size:0.8em;
}


/* ------ */
/* HEADER */
/* ------ */

#bannière{
    padding-top: 5px;
    display:flex;
}

#logo_conteneur{
    flex:1;
}

nav{
    display:flex;
}

#lien_inscription, #lien_activités, #lien_hébergements{
    padding-left:15px;
    padding-right:15px;
}

#lien_inscription, #lien_hébergements{
    color:#0065FC;
}

/* Reduire l'espacement entre les deux phrases de description */
#description_site h1{
    margin-bottom: 8px;
}
#description_site p{
    margin-top: 8px;
}


/* Mise en forme de la barre de recherche */
#conteneur_barre_recherche{
    display:flex;
    flex-direction: row;
}

#icone_localisation{
    background-color:#F2F2F2 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px 13px 12px 13px;
}

#search{
    padding:10px;
    margin-right:0px;
    margin-left:0px;
    border:#F2F2F2 solid 1px;
    border-left: 0px;
    border-right:0px;
}

#bouton_valid_icone{
    font-size:0.9em;
    background-color:#0065FC; 
    color:#FFFFFF;
    padding:11px 11px 11px 11px;
    margin-left:-8px;
    border-radius: 10px;
    border:0px;
}

#bouton_valid_texte{
    font-size: 0.7em;
    background-color:#0065FC; 
    color:#FFFFFF;
    padding:11px;
    margin-left:-5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:0px;
}

/* Mise en forme des boutons filtres */
#filtres{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#boutons_filtres{
    display:flex;
    flex-direction: row;
    padding-left:25px;
}

#boutons_filtres form{
    margin-right:12px;
    display: flex;
    flex-direction: row;
}

#boutons_filtres button{
    background-color: #FFFFFF;
    border-left:0px;
    display: flex;
    flex-direction: row;
    align-items:center;
    border:0px;
   
}

.icone_bouton{
    color:#0065FC;
    background-color:#DEEBFF;
    border-radius: 180px;
    height:31px;
    width:31px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right:-28px;
    z-index: 1;
}


.texte_bouton{
    border:#d3d1d1 solid 1px;
    border-radius: 180px;
    border-left:0px;
    height:29px;
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    align-items:center;
}




/* -------- */
/* SECTIONS */
/* -------- */

.conteneur_cartes p{
    font-size: 0.7em;
}

.étoiles{
    display:flex;
    font-size: 0.6em;
}

.star_on{
    color:#0065FC;
}

.star_off{
    color:#cac9c9;
}

.conteneur_cartes a{
    box-shadow: 0px 5px 5px #c4c3c3;
}

#hébergements_trouvés, footer{
    background-color: #F2F2F2;
}

#hébergements .conteneur_cartes{
    display:flex;
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    flex-flow: row wrap;
    /* align-content: space-between; */
    justify-content: space-around;
    align-items: flex-end;
}

#hébergements a{
    border-radius: 20px;
    background-color:#FFFFFF;
    border:5px #FFFFFF solid;
    /* margin: auto; */
    display:flex;
    flex-direction: column;
}

#activités a{
    border-radius: 20px;
    background-color:#FFFFFF;
    display:flex;
    margin: auto;
    flex-direction: column;
}


/* ------ */
/* FOOTER */
/* ------ */

footer{
    display:flex;
}

ul{
    list-style-type:none;
}




