/* ---------------------------- */
/* Affichage spécifique Mobiles */
/* ---------------------------- */

@media all and (max-width:767.99px){


    /* Réautoriser les sections à s'étendre sur toute la largeur */
    header, #hebergements, #activites{
        width:100%;
    }

    /* ------ */
    /* HEADER */
    /* ------ */

    header{
        padding-left: 0px;
    }

    /* Affichage logo/navigation sur deux lignes. Les liens hébergements et activités sont sur la seconde ligne */
    #banner{
        flex-wrap: wrap;
        align-items: center;
    }
    nav{
        order:3;
        width:100%;
        text-align: center;
        margin-top:17px;
        font-size:0.95em;
    }
    #hebergements_link, #activites_link{
        width:50%;
        padding-bottom:11px;
        margin-bottom: 17px;
        padding-top :0px;
    }

    /* Marge a gauche du logo */
    #logo_container{
        margin-left: 16px;
    }

    /* Lien d'inscription un peu plus petit */
    #signup_link{
        font-size: 0.95em;
        padding-top :0px;
    }

    /* Bordure en dessous des liens au lieu d'en dessous */
    #hebergements_link{
        border-bottom:3px #0065FC solid; 
    }
    #activites_link{
        border-bottom:3px #F2F2F2 solid; 
    }

    /* Supprimer l'effet au survol */
    #hebergements_link:hover, #activites_link:hover{
        border-top:0px; 
    }
    
    #site_description, #search_bar_container, #filters, #info_nb_logements{
        /* Marges a gauche et à droite plus importantes que le reste du header */
        margin-left: 15px;
        margin-right: 15px;
    }
    
    /* Légers ajustements sur le titre de la page*/
    #site_description{
        font-size:0.95em;
    }
    h1{
        font-size:1.4em;
    }
    #site_description p{
        margin-top:12px;
    }

    /* Mise en forme différente pour la barre de recherche */
    #search_bar_container{
        margin-top: 34px;
    }
    #search{
        /* l'espace de saisie doit s'allonger pour prendre le max de largeur possible */
        flex:1;
        font-size:1.15em;
    }
    #locate_icon{
        font-size:1.1em;
        padding:17px 20px 17px 20px;
        border-bottom-left-radius: 17px;
        border-top-left-radius: 17px;
    }
    #valid_button{
        font-size:1.05em;
        padding-left: 18px;
        padding-right:18px;
        margin-left:-16px;
        border-radius: 16px;
    }
    /* Masquer le bouton avec texte, on affiche celui avec l'icone loupe uniquement */
    #valid_button_text{
        display:none;
    }
    #valid_button_icon{
        display:block;
    }
    

    /* Titre filtre au dessus des filtres */
    #filters{
        flex-direction: column;
        align-items:flex-start;
    }


    /* Mise en forme des boutons filtres */
    #filters h2{
        font-size:1.1em;
    }
    #filter_buttons form{
        margin-right:15px;
 
    }
    #filter_buttons button{
        height:50px;
        border:#d3d1d1 solid 2px;
    }
    .button_icon{
        font-size: 1.4em;
        height:50px;
        width:50px;
    }
    .button_text{
        font-size:1.1em;
    }
    /* Boutons sur plusieurs lignes */
    #filter_buttons{
        flex-wrap: wrap;
    }

    #filter_buttons form{
        margin-bottom:14px;
    }

    /* Augmenter  la taille de de la phrase d'info */
    #circle_info{
        height:23px;
        width:23px;
        align-self:flex-start;
    }
    #circle_info i{
        font-size:0.70em;
    }
    #info_text{
        font-size:0.95em;
        width: 90%;
    }
    


    /* -------- */
    /* SECTIONS */
    /* -------- */
    
    /* disposition en colonne plutot que sur une même ligne 
        et inversion de l'ordre des sections populaires et hébergements_trouvés */
    #hebergements{
        display:flex;
        flex-direction: column;
    }
    #hebergements_found{
        background-color:#FFFFFF;
        order:2;
    }
    #populaires{
        order:1;
    }
    /* Enlever l'arrondi sur les coins des sections */
    #populaires, #hebergements_found{
        border-radius:0px;
    }
    
    /* Agrandir les titres des sections */
    #populaires h2, #hebergements_found h2, #activites h2{
        font-size:1.3em;
    }

    /* AJUSTEMENTS SUR SECTION POPULAIRES */

    /* Permettre aux cartes populaires de prendre un peu plus d'espace en largeur
        et modifier l'aspect et aggrandir les polices */
    #populaires{
        padding-bottom:20px;
    }
    #populaires h2{
        width:88%;
        margin-bottom: 20px;
    }
    #populaires a{
        width:86%;
        height:130px;
        border-radius: 18px;
        padding: 5px;
        margin-bottom: 15px;
    }
    #populaires img{
        width: 38%;
        height: 100%;
        object-fit:cover;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }
    .populaires_text h3{
        font-size: 1em;
    }
    .populaires_text p{
        font-size: 0.9em;
    }
    .populaires_text .stars{
        font-size: 0.7em;
    }



    /* AJUSTEMENTS SUR SECTION HEBERGEMENTS TROUVES */
    #hebergements_found .card_container, #hebergements_found h2, #hebergements_found_more{
        width:88%;
    }
    #hebergements_found a{
        width:100%;
        padding: 5px;
        border-radius: 18px;
        height:190px; 
    }
    #hebergements_found img{
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }

    #hebergements_found h3{
        font-size: 1em;
    }
    #hebergements_found a p{
        font-size: 0.9em;
    }
    #hebergements_found .stars{
        font-size: 0.75em;
    } 
    #hebergements_found_more{
        font-size: 1.1em;
        margin-top: 10px;
    } 

    /* AJUSTEMENTS SUR SECTION ACTIVITES */
    #activites .card_container, #activites h2{
        width:88%;
        margin-left:auto;
        margin-right:auto;
    }
    #activites h2{
        margin-bottom: 28px;
    }
    #activites .card_container{
        flex-wrap: nowrap;
        height:auto;
    }
    #activites a{
        width: 100%;
        height:190px;
        border-radius: 18px;
        margin-bottom: 22px;
    }
    #activites img{
        height: 70%;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    #activites h3{
        font-size:1em;
        padding-left:15px;
        margin-top:auto;
        margin-bottom:auto;
    }


    /* ------ */
    /* FOOTER */
    /* ------ */

    footer{
        flex-direction:column;
        padding-top: 30px;
    } 
    
    #nos_hebergements, #a_propos, #assistance{
        width:88%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:8px; 
    }
    footer h1{
        font-size: 1.4em;
    }
    
    footer ul{
        font-size: 1.3em;
    }

    footer li{
        padding-bottom: 10px;
    }

}
