/* ------------------------------- */
/* Affichage commun Tablettes et PC*/
/* ------------------------------- */

@media all and (min-width:768px) {

    body{
        /* Largeur de la page auto pluto que fixe*/
        width: auto;
    }

    
    /* ------ */
    /* HEADER */
    /* ------ */

    /* petit espace a gauche sur tou le header */
    header{
        padding-left: 5px;
    }
    /* Taille fixe de 200px à l'espace de saisie */
    #search{
        width:200px;
    }
    #search_bar_container{
        margin-top: 18px;
    }

    /* Masquer le bouton avec l'icone loupe, on affiche celui avec le texte uniquement */
    #valid_button{
        font-size: 0.7em;
        padding:11px;
        margin-left:-5px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    #valid_button_icon{
        display:none;
    }
    
    #hebergements_link:hover{
        border-top:2px #0065FC solid; 
    }
    #activites_link:hover{
        border-top:2px #F2F2F2 solid; 
    }
    
    #hebergements_link, #activites_link, #signup_link{
        padding-top:25px;
    }
    

    /* -------- */
    /* SECTIONS */
    /* -------- */
    
    #populaires{
        background-color: #F2F2F2;
    }

    #populaires, #hebergements_found{
        border-radius:20px;
    }
    
    #hebergements_found img{
        width: 220px;
        height: 110px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #populaires img{
        width: 120px;
        height: 120px;
        object-fit:cover;
    }
    
    #activites img{
        width: 250px;
        height: 330px;
        object-fit:cover;
    }

    #activites a{
        width: 250px;
    }


    /* ------ */
    /* FOOTER */
    /* ------ */

}



