
/* ----------------------- */
/* Affichage spécifique PC */
/* ----------------------- */

@media all and (min-width:992px){

    body{
        width: 992px;
        margin: auto;
    }


    header, #hebergements, #activites{
        width: 90%;
    }


    /* ------ */
    /* HEADER */
    /* ------ */

    /* Abbaisser un peu le logo par rapport au bord haut de la page */
    #logo_container{
        margin-top: 17px;
    }

    /* -------- */
    /* SECTIONS */
    /* -------- */
    #hebergements{
        display:flex;
        flex-direction: row;
    }

    #hebergements_found{
        flex:2.3;
    }

    #populaires{
        margin-left:20px;
        flex:1;
    }

    #populaires img{
        width: 85px;
        height: 85px;
        object-fit:cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    /* ------ */
    /* FOOTER */
    /* ------ */

    /* Le footer est un peu plus large que le header et les sections */
    footer{
        width: 100%;
    }
}