
/* ----------------------- */
/* Affichage spécifique PC */
/* ----------------------- */

@media all and (min-width:992px){


    /* ------ */
    /* HEADER */
    /* ------ */

    /* Abbaisser un peu le logo par rapport au bord haut de la page */
    #logo_container{
        margin-top: 17px;
    }

    /* -------- */
    /* SECTIONS */
    /* -------- */
    #hebergements{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #hebergements_found{
        width:65.3%;
    }

    #populaires{
        width:31.6%;
    }



    #activites .card_container a:nth-child(2) img{
        height: 130px;
    }
    #activites .card_container a:nth-child(3) img{
        height: 70px;
    }
    #activites .card_container a:nth-child(5) img,
    #activites .card_container a:nth-child(6) img{
        height: 100px;
    }


    /* ------ */
    /* FOOTER */
    /* ------ */


}