
/* ------------------ */
/* DEFINITION POLICES */
/* ------------------ */

/* Définition police Raleway en deux parties :
    1) Texte normal = Raleway Regular 400
    2) Texte en gras = Raleway Bold 700 */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/regular/raleway-regular-webfont.eot');
    src: url('../fonts/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/regular/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */

body, input, button{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}

/* Détermination des éléments en texte gras */
h1, h2, h3, .prix, .texte_bouton, #lien_inscription, #search, #bouton_valid_texte{
    font-weight:bold;
}

a{
    text-decoration: none;
    color:black;
}

h1, h2{
    font-size:1.3em;
}

h3{
    font-size:0.8em;
}


/* ------ */
/* HEADER */
/* ------ */

#bannière{
    padding-top: 5px;
    display:flex;
}

#logo_conteneur{
    flex:1;
}

nav{
    display:flex;
}

#lien_inscription, #lien_activités, #lien_hébergements{
    padding-left:15px;
    padding-right:15px;
}

#lien_inscription, #lien_hébergements{
    color:#0065FC;
}

/* Reduire l'espacement entre les deux phrases de description */
#description_site h1{
    margin-bottom: 8px;
}
#description_site p{
    margin-top: 8px;
}


/* Mise en forme de la barre de recherche */
#conteneur_barre_recherche{
    display:flex;
    flex-direction: row;
}

#icone_localisation{
    background-color:#F2F2F2 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px 13px 12px 13px;
}

#search{
    padding:10px;
    margin-right:0px;
    margin-left:0px;
    border:#F2F2F2 solid 1px;
    border-left: 0px;
    border-right:0px;
}

#bouton_valid_icone{
    font-size:0.9em;
    background-color:#0065FC; 
    color:#FFFFFF;
    padding:11px 11px 11px 11px;
    margin-left:-8px;
    border-radius: 10px;
    border:0px;
}

#bouton_valid_texte{
    font-size: 0.7em;
    background-color:#0065FC; 
    color:#FFFFFF;
    padding:11px;
    margin-left:-5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:0px;
}

/* Mise en forme des boutons filtres */
#filtres{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#boutons_filtres{
    display:flex;
    flex-direction: row;
    padding-left:25px;
}

#boutons_filtres form{
    margin-right:12px;
    display: flex;
    flex-direction: row;
}

#boutons_filtres button{
    background-color: #FFFFFF;
    border-left:0px;
    display: flex;
    flex-direction: row;
    align-items:center;
    border:0px;
   
}

.icone_bouton{
    color:#0065FC;
    background-color:#DEEBFF;
    border-radius: 180px;
    height:31px;
    width:31px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right:-28px;
    z-index: 1;
}


.texte_bouton{
    border:#d3d1d1 solid 1px;
    border-radius: 180px;
    border-left:0px;
    height:29px;
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    align-items:center;
}




/* -------- */
/* SECTIONS */
/* -------- */

.conteneur_cartes p{
    font-size: 0.7em;
}

.étoiles{
    display:flex;
    font-size: 0.6em;
}

.star_on{
    color:#0065FC;
}

.star_off{
    color:#cac9c9;
}

.conteneur_cartes a{
    box-shadow: 0px 5px 5px #c4c3c3;
}

#hébergements_trouvés, footer{
    background-color: #F2F2F2;
}

#hébergements .conteneur_cartes{
    display:flex;
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    flex-flow: row wrap;
    /* align-content: space-between; */
    justify-content: space-around;
    align-items: flex-end;
}

#hébergements a{
    border-radius: 20px;
    background-color:#FFFFFF;
    border:5px #FFFFFF solid;
    /* margin: auto; */
    display:flex;
    flex-direction: column;
}

#activités a{
    border-radius: 20px;
    background-color:#FFFFFF;
    display:flex;
    margin: auto;
    flex-direction: column;
}


/* ------ */
/* FOOTER */
/* ------ */

footer{
    display:flex;
}

ul{
    list-style-type:none;
}


/* ---------------------------- */
/* Affichage spécifique Mobiles */
/* ---------------------------- */

@media all and (max-device-width:767px){

    #body
    {
        /* Largeur de la page auto pluto que 900px */
        width: auto;
    }


    /* ------ */
    /* HEADER */
    /* ------ */

    /* Affichage logo/navigation sur deux lignes. Les liens hébergements et activités sont sur la seconde ligne */
    #bannière{
        flex-wrap: wrap;
        align-items: center;
    }
    nav{
        order:3;
        width:100%;
        text-align: center;
        margin-top:10px;
    }
    #lien_hébergements, #lien_activités{
        width:50%;
        padding-bottom:10px;
    }
    /* Bordure en dessous des liens au lieu d'en dessous */
    #lien_hébergements{
        border-bottom:2px #0065FC solid; 
    }
    #lien_activités{
        border-bottom:2px #F2F2F2 solid; 
    }


    /* Masquer le bouton avec texte, on affiche celui avec l'icone loupe uniquement */
    #bouton_valid_texte{
        display:none;
    }

    /* Augmenter legèrement la taille de police de la phrase titre */
    h1{
        font-size:1.4em;
    }

    /* Titre filtre au dessus des filtres */
    #filtres{
        flex-direction: column;
        align-items:flex-start;
    }

    /* Boutons sur plusieurs lignes */
    #boutons_filtres{
        flex-wrap: wrap;
        margin-top:-15px;

    }

    #boutons_filtres form {
        margin-top:10px;
    }

    /* -------- */
    /* SECTIONS */
    /* -------- */

    #hébergements_trouvés img{
        width: 220px;
        height: 110px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #populaires img{
        width: 120px;
        height: 120px;
        object-fit:cover;
    }
    
    #activités img{
        width: 250px;
        height: 330px;
        object-fit:cover;
    }

    /* ------ */
    /* FOOTER */
    /* ------ */

}


/* ------------------------------- */
/* Affichage commun Tablettes et PC*/
/* ------------------------------- */

@media all and (min-width:768px) {

    body{
        /* Largeur de la page auto pluto que fixe*/
        width: auto;
    }

    
    /* ------ */
    /* HEADER */
    /* ------ */


    /* Masquer le bouton avec l'icone loupe, on affiche celui avec le texte uniquement */
    #bouton_valid_icone{
        display:none;
    }
    
    #lien_hébergements:hover{
        border-top:2px #0065FC solid; 
    }
    #lien_activités:hover{
        border-top:2px #F2F2F2 solid; 
    }
    
    #lien_hébergements, #lien_activités, #lien_inscription{
        padding-top:25px;
    }
    

    /* -------- */
    /* SECTIONS */
    /* -------- */
    
    #populaires{
        background-color: #F2F2F2;
    }
    
    #hébergements_trouvés img{
        width: 220px;
        height: 110px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #populaires img{
        width: 120px;
        height: 120px;
        object-fit:cover;
    }
    
    #activités img{
        width: 250px;
        height: 330px;
        object-fit:cover;
    }

    #activités a{
        width: 250px;
    }


    /* ------ */
    /* FOOTER */
    /* ------ */

}


/* ----------------------------- */
/* Affichage spécifique Tablettes*/
/* ----------------------------- */

@media all and (min-width:768px) and (max-width:991px){

    body{
        /* Largeur de la page auto plutot que fixe */
        width: auto;
    }


    /* ------ */
    /* HEADER */
    /* ------ */

    /* Reduire l'espace entre le haut de la page et les liens de navigation */
    #lien_inscription, #lien_activités, #lien_hébergements{
        padding-top:15px;
    }


    /* -------- */
    /* SECTIONS */
    /* -------- */



    /* ------ */
    /* FOOTER */
    /* ------ */

}



/* ----------------------- */
/* Affichage spécifique PC */
/* ----------------------- */

@media all and (min-width:992px){

    body{
        width: 992px;
        margin: auto;
    }


    header, #hébergements, #activités{
        width: 90%;
    }


    /* ------ */
    /* HEADER */
    /* ------ */

    /* Abbaisser un peu le logo par rapport au bord haut de la page */
    #logo_conteneur{
        margin-top: 17px;
    }

    /* -------- */
    /* SECTIONS */
    /* -------- */


    /* ------ */
    /* FOOTER */
    /* ------ */

    /* Le footer est un peu plus large que le header et les sections */
    footer{
        width: 100%;
    }
}


/* ------------------------------------- */
/* Affichage spécifique PC grands écrans */
/* ------------------------------------- */

/* @media (min-device-width:992){
    
 
} */


