
/* ----------------------------- */
/* Affichage spécifique Tablettes*/
/* ----------------------------- */

@media all and (min-width:768px) and (max-width:991.99px){

    /* Agrandir la taille de polices de plusieurs éléments */
    .card_container p{
        font-size: 0.8em ;
    }
    h2{
        font-size: 1.1em;
    }
    h3{
        font-size: 0.8em;
    }
    .stars{
        font-size:0.7em;
    }

    /* ------ */
    /* HEADER */
    /* ------ */

    /* Reduire l'espace entre le haut de la page et les liens de navigation */
    #hebergements_link, #activites_link, #signup_link{
        padding-top:15px;
    }

    /* Agrandir la taille de la phrase d'information */
    #circle_info{
        width:22px;
        height:22px;
    }
    #circle_info i{
        font-size:0.85em;
    }
    #info_text{
        font-size: 0.85em;
    }

    /* -------- */
    /* SECTIONS */
    /* -------- */

    #hebergements_found_more{
        margin-bottom:20px;
    }
    
    #hebergements_found a{
        height:180px;
        padding:4px;
    }

    #populaires{
        margin-top:20px;
    }

    /* Aligner le contenu de populaires au même niveau le contenue de hébergements trouvés */
    #populaires .card_container, #populaires h2{
        width:91%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Afficher les cartes populaires sur une même ligne  */
    #populaires .card_container{
        justify-content: space-between;
    }
    /* Changer l'apparence des cartes populaires  */
    #populaires a{
        width: 30%;
        margin-left: 0px;
        margin-right: 0px;
        height:180px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;
        padding:4px;
    }
    #populaires img{
        width:100%;
        height:60%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .populaires_text{
        width:88%;
        margin-left:auto;
        margin-right:auto;
        height:40%;
        display :flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #populaires h3{
        padding-top:3px;
    }
    #populaires p{
        height: auto;
    }

    
    /* répartir les activités sur 3 colonnes au lieu de 4 */
    #activites a{
        width:31%;
    }
    /* Donner une taille différente aux cartes activités pour les faire rentrer sur 3 colonnes */
    #activites .card_container a:nth-child(1) img,
    #activites .card_container a:nth-child(4) img,
    #activites .card_container a:nth-child(5) img{
        height: 133px;
    }
    
    #activites .card_container a:nth-child(2) img,
    #activites .card_container a:nth-child(3) img,
    #activites .card_container a:nth-child(6) img{
        height: 73px;
    }


    /* ------ */
    /* FOOTER */
    /* ------ */

    /* Agrandir la taille de polices*/
    footer h1{
        font-size: 1.2em;
    }

    footer ul{
        font-size: 1.2em;
    }

}